
header
{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FAD824;
}

body
{
    font-family: 'Inter', sans-serif;
    background-color: #272727;
    margin: 0px;
    padding: 0px;
}

a
{
    font-weight: bold;
    font-size: 25px;  
    text-decoration: none;
    color: #000;
    background-color: #FAD824;
    margin-left: 30px;
    
}

#conteudo_principal {

    background-color: #FAD824;
    padding-bottom: 20px;

}

#conteudos
{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
   
}

#text
{
    font-size: 27px;
    text-indent: 0px;
    margin: 25px;
    font-weight:initial;
}

.artigos
{
    width: 100px;
    height: 100px;
    background-color: #262626;
    border-radius: 2px;
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#sessao
{
    background-color: #262626;
   
}

#subtitulo
{
    color: #FFF;
    margin-left: 25px;
    font-size: 25px;

}

footer
{
    background-color: #FAD824;
    text-align: center;
    font-weight: 1000;
    padding: 0.1px;
}

.article_modal {

    background-color: #FAD824;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;

}

.article_modal img {

    border-radius: 10px;

}

.txt_img {

display: flex;
flex-direction: row;
justify-content: space-around;
font-size: 23px;
font-weight: bold;

}

.options {

    background-color: #FAD824;
    font-size: 16px;
    padding: 15px 130px;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

#botao_do_carai {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}

#sessao_login {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#img_login img {

    width: 65%;
    height: 100%;

}

#img_login {

    display: flex;
    justify-content: right;
   
}

#login_usuario {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    margin-top: 20%;
    margin-left: 15%;

}

#login_usuario h1 {

    color: #FFF;
    font-size: 35px;
    margin-left: 95px;

}

#login_usuario form {

    border: solid 1px #FAD824;
    border-radius: 10px;
    padding: 15px 20px;
    
    

}


#texto {

    background-color: #272727;
    border-radius: 5px;
    padding: 5px 75px 5px 20px;
    margin-top: 10px;
    border: solid 1px #FAD824;
    padding: 10px 200px 10px 1px;


}

#login_usuario p {

    color: #FFF;
    font-size: 14px;

}

#botao_acessar {

    padding: 8px 45px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    background-color: #FAD824;
    border: none;

}

#login_usuario label {

    color: #FFF;

}